<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="left-img">
                <img src="assets/img/left-login.png">
                <div class="left-box-center">
                    <div class="text-alignments">
                        <h1>Verified<br>Betting<br><span>Platform</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <button [routerLink]="['/login']">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-auto">
            <div class="row">
                <div class="col-xl-7 col-lg-10 col-sm-12 py-5">
                    <div class="form-side">
                        <img width="100px;" src="assets/img/logo-footer.png">
                        <h3>Change Password Menu<br></h3>
                    
                        <div class="forms-input-email">
                            <label>Enter your Password</label>
                            <input type="Password" name="pass" placeholder="********" [(ngModel)]="userInfo.password">
                        </div>

                        <div class="forms-input-password">
                            <label>Re-Password Your Password</label>
                            <input type="Password" name="rePass" placeholder="********" [(ngModel)]="userInfo.rePassword">
                        </div>

                        <div class="btn-m sign-in">
                            <button (click)="changePassword()">Change Password</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>