* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: #f3f2ff;
}

button:focus{
    outline: none;
}

main{
    padding: 0 !important;
}
.mainRight {
    padding-right: 0 !important;
}

div.mainRight > .boxCommomn {
    padding-right: 0;
}
.mainSidebar {
    width: 300px;
    background: #393C41;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    padding: 50px 0px 60px 60px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    max-width: 300px;
}
.col-lg-9.mainCont {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 300px);
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
}
div.mainCont {
    padding: 50px 50px;
}
div.mainCont {
    background-image: url(src/assets/img/mainBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}
.sports-tags.extra-class {
    align-items: center;
    justify-content: center;
}
.extra-class .imgTab {
    background: #fff;
    width: auto;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
}
.extra-class .imgTab img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 44px;
}
.extra-class .imgTab + span {
    display: inline-block;
}
.sports-tags.extra-class .col-lg-3 > div {
    width: 70px;
    text-align: center;
}
.sports-tags.extra-class .col-lg-3:nth-child(2) > div,.sports-tags.extra-class .col-lg-3:nth-child(3) > div {
    margin-left: auto;
    margin-right: auto;
}
.sports-tags.extra-class .col-lg-3:nth-child(4) > div {
    margin-left: auto;
}
.boxCommomn {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px !important;
    border-radius: 10px;
}
.PostWaliRow {
    max-height: 700px;
    margin-top: 10px;
    overflow-y:scroll;
    position: relative;
    padding-bottom: 250px;
}
.PostWaliRow::-webkit-scrollbar-track,
.midBox::-webkit-scrollbar-track,
.mainRight::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0);
    border-radius: 10px;
    background-color: #f5f5f500;
}
.PostWaliRow::-webkit-scrollbar,
.midBox::-webkit-scrollbar,
.mainRight::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}
.PostWaliRow::-webkit-scrollbar-thumb,
.midBox::-webkit-scrollbar-thumb,
.mainRight::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0);
    background-color: transparent;
}
.PostWaliRow > .col-lg-12 {
    padding-right: 0;
    border-radius: 10px;
}
.profile-img-text img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}
.profile-img-text {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.profile-img-text .profile-img-text-2 p {
    margin-bottom: 0;
    line-height: 11px;
    font-size: 14px;
    color: #000;
    padding-top: 10px;
}
.bottomTextPost .post-image img {
    width: 100%;
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
    object-position: top;
}
.post-image {
    margin-bottom: 15px;
}
.bottomTextPost h5.text-post-h5 {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    font-family: Poppins;
    line-height: 24px;
}
.post-tips {
    border-top: 1px solid #EBEBEB;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.leftPost button {
    color: #1DAAA6;
}
.leftPost button i {
    background: rgba(149,151,161,.10);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px !important;
    border-radius: 50%;
    color: #1DAAA6 !important;
}
.leftPost button {
    background: transparent;
    border: 0;
    padding: 0;
    margin-right: 20px;
    display: flex;
    float: left;
    align-items: center;
}
.leftPost button span {
    padding-left: 7px;
}
.rightPost .btnShare button {
    background: transparent;
    border: 0;
    color: #1DAAA6;
}
.rightPost {
    position: absolute;
    right: 0;
}
.post-a-comment .comment-box img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}
.post-a-comment .input-comment {
    display: block;
    width: calc(100% - 50px);
    position: relative;
}
.comment-box {
    display: flex;
    align-items: center;
}
.post-a-comment .input-comment input {
    width: 100%;
    height: 40px;
    background: #f4f4f5;
    border: 1px solid #f4f4f5;
    border-radius: 50px;
    padding: 10px 15px;
    color: #000;
    font-size: 13px;
}
.post-a-comment .input-comment a {
    position: absolute;
    background: #fff;
    right: 2.5px;
    top: 2.5px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: all .3s linear 0s;
}
.post-a-comment .input-comment a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.post-a-comment .input-comment a:hover {
    background: #1DAAA6;
    color: #fff;
}
.post-a-comment .input-comment p {
    margin-bottom: 0;
}
.post-a-comment.postedComment {
    padding: 10px;
    background: aliceblue;
    margin-top: 20px;
}
.post-a-comment.postedComment .comment-box {
    margin-top: 0 !important;
}
.post.my-3.boxCommomn {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 30px;
    border-radius: 10px;
}
.midBox .boxCommomn h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.liveScore h3 {
    text-align: center;
}
ul.liveUl {
    padding-left: 15px;
    padding-right: 15px;
}
ul.liveUl li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
ul.liveUl li h6 {
    font-size: 15px;
    max-width: 100px;
}
ul.liveUl li strong {
    font-weight: 700;
    font-size: 14px;
    min-width: 60px;
}
ul.liveUl li img {
    padding-left: 10px;
    padding-right: 10px;
}
.midBox .boxCommomn h3 strong {
    font-weight: 700;
}
.midBox .boxCommomn .teammates-div h3 {
    font-weight: normal;
}
.midBox .boxCommomn .teammates {width: 20%;float: left;text-align: center;margin: 0;}
.teammates-div,.leaders-div {
    clear: both;
    display: inline-block;
}
.midBox .boxCommomn .teammates img,
.midBox .boxCommomn .leaders-div img {
    margin-left: auto !important;
    margin-right: auto;
}
.midBox .boxCommomn .teammates span,.midBox .boxCommomn .leaders-div span {
    font-size: 60%;
    font-weight: 400;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.morePost button {
    background: #1daaa6;
    padding: 10px 40px !important;
    color: #fff;
    width: auto;
}
.morePost button:hover {
    color: #fff;
    opacity: .8;
}
.boxCommomn h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.recentActivity img {
    width: 100%;
}
.mainRight {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 150px;
}
.tab-content>.tab-pane{
    display: block;
}
.apiDataImg img {
    width: 100%;
}
.apiData.boxCommomn {
    margin-top: 30px;
}
.apiWaliRow {
    max-height: 100vh;
    padding-bottom: 40vh;
    overflow-y: auto;
} 
.apiWaliRow::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0);
    border-radius: 10px;
    background-color: #f5f5f500;
}
.apiWaliRow::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}
.apiWaliRow::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0);
    background-color: transparent;
}
.mainCont.mainContDark .sports-tags.extra-class .col-lg-3.activeSport > div {
    transform: scale(1.2);
    opacity: 1;
}
.mainCont.mainContDark{
    background-image: url(src/assets/img/darkBg.png);    
}
.mainCont.mainContDark .sports-tags.extra-class .col-lg-3 > div {
    color: #fff;
    opacity: .7;
}
 
/*992 to 1200*/
@media(min-width:992px ) and (max-width: 1200px){
    /*Common Css Start*/
    .mainSidebar { 
        width: 250px;
        max-width: 250px;
        padding: 30px 0px 40px 50px;
    }
    .col-lg-9.mainCont {
        flex: 0 0 calc(100% - 250px);
        max-width: calc(100% - 250px);
        padding: 30px 30px;
    }
    .extra-class .imgTab {
        width: 40px;
        height: 40px;
    }
    .extra-class .imgTab img {
        max-width: 24px;
    }
    .sports-tags.extra-class .col-lg-3 > div {
        width: 40px;
        font-size: .6rem;
    }
    .mainRight {
        padding-right: 0 !important;
    }

    .boxCommomn {
        margin-bottom: 15px !important;
    }
    /*Common Css End*/
    .profile-img-text img {
        width: 30px;
        height: 30px;
    }
    .profile-img-text .profile-img-text-2 p {
        font-size: 11px;
        line-height: 0px;
    }
    .profile-img-text .profile-img-text-2 span {
        font-size: 8px !important;
    }
    .bottomTextPost .post-image img {
        height: 250px;
    }
    .post-image {
        margin-bottom: 10px;
    }
    .bottomTextPost h5.text-post-h5 {
        font-size: 11px;
        line-height: 16px;
    }
    .post-tips {
        margin-top: 10px;
        padding-top: 10px;
    }
    .leftPost button i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px !important;
    }
    .leftPost button {
        font-size: 12px;
    }
    .rightPost button {
        font-size: 12px;
    }
    .post-a-comment .comment-box img {
        width: 30px;
        height: 30px;
    }
    .post-a-comment .input-comment {
        width: calc(100% - 40px);
    }
    .post-a-comment .input-comment input {
        height: 30px;
        padding: 10px 10px;
        font-size: 10px;
    }
    .post-a-comment .input-comment a {
        height: 25px;
        width: 25px;
        font-size: 12px;
    }
    .post-a-comment.postedComment .input-comment {
        font-size: 11px;
    }
    .post-a-comment.postedComment p:last-child {
        font-size: 8px !important;
    }
    .PostWaliRow {
        padding-bottom: 400px;
    }
    .morePost button {
        font-size: 12px;
        padding: 6px 20px !important;
    }
    .midBox .boxCommomn h3 {
        font-size: 13px;
    }
    ul.liveUl li h6 {
        font-size: 10px;
        max-width: 70px;
        margin-bottom: 0;
    }
    ul.liveUl li img {
        width: 32px;
        padding-left: 8px;
        padding-right: 8px;
    }
    ul.liveUl li strong {
        font-size: 10px;
        min-width: 40px;
    }
    .midBox .boxCommomn .teammates img, .midBox .boxCommomn .leaders-div img {
        margin-right: auto !important;
        width: 30px !important;
        height: 30px !important;
    }
    .midBox .boxCommomn .teammates span, .midBox .boxCommomn .leaders-div span {
        font-size: 45%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
/*1201 to 1440*/
@media(min-width:1201px ) and (max-width: 1440px){
    /*Common Css Start*/
    .mainSidebar {
        width: 270px;
        max-width: 250px;
        padding: 30px 0px 40px 50px;
    }
    .col-lg-9.mainCont {
        flex: 0 0 calc(100% - 270px);
        max-width: calc(100% - 270px);
        padding: 30px 30px;
    }
    .extra-class .imgTab {
        width: 50px;
        height: 50px;
    }
    .extra-class .imgTab img {
        max-width: 24px;
    }
    .sports-tags.extra-class .col-lg-3 > div {
        width: 50px;
        font-size: .8rem;
    }
    .mainRight {
        padding-right: 0 !important;
    }
    .boxCommomn {
        margin-bottom: 20px !important;
    }
    /*Common Css End*/
    .profile-img-text img {
        width: 35px;
        height: 35px;
    }
    .profile-img-text .profile-img-text-2 p {
        font-size: 13px;
        line-height: 0px;
    }
    .profile-img-text .profile-img-text-2 span {
        font-size: 10px !important;
    }
    .bottomTextPost .post-image img {
        height: 300px;
    }
    .post-image {
        margin-bottom: 12px;
    }
    .bottomTextPost h5.text-post-h5 {
        font-size: 13px;
        line-height: 18px;
    }
    .post-tips {
        margin-top: 12px;
        padding-top: 12px;
    }
    .leftPost button i {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 14px !important;
    }
    .leftPost button {
        font-size: 14px;
    }
    .rightPost button {
        font-size: 14px;
    }
    .post-a-comment .comment-box img {
        width: 35px;
        height: 35px;
    }
    .post-a-comment .input-comment {
        width: calc(100% - 35px);
    }
    .post-a-comment .input-comment input {
        height: 35px;
        padding: 12px 12px;
        font-size: 12px;
    }
    .post-a-comment .input-comment a {
        height: 30px;
        width: 30px;
        font-size: 14px;
    }
    .post-a-comment.postedComment .input-comment {
        font-size: 13px;
    }
    .post-a-comment.postedComment p:last-child {
        font-size: 10px !important;
    }
    .PostWaliRow {
        padding-bottom: 340px;
    }
    .morePost button {
        font-size: 14px;
        padding: 10px 30px !important;
    }
    .midBox .boxCommomn h3 {
        font-size: 15px;
    }
    ul.liveUl li h6 {
        font-size: 12px;
        max-width: 90px;
        margin-bottom: 0;
    }
    ul.liveUl li img {
        width: 38px;
        padding-left: 10px;
        padding-right: 10px;
    }
    ul.liveUl li strong {
        font-size: 12px;
        min-width: 50px;
    }
    .midBox .boxCommomn .teammates img, .midBox .boxCommomn .leaders-div img {
        margin-right: auto !important;
        width: 40px !important;
        height: 40px !important;
    }
    .midBox .boxCommomn .teammates span, .midBox .boxCommomn .leaders-div span {
        font-size: 50%;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media(min-width:1441px ) and (max-width: 1620px){
    /*Common Css Start*/
    .sports-tags.extra-class .col-lg-3 > div {
        width: 65px;
    }
    .extra-class .imgTab {
        width: 65px;
        height: 65px;
    }
    .extra-class .imgTab img {
        max-width: 38px;
    }
    .extra-class .imgTab + span {
        font-size: 1rem;
    }
    /*Common Css End*/
    .profile-img-text img {
        width: 40px;
        height: 40px;
    }
    .profile-img-text .profile-img-text-2 p {
        font-size: 14px;
        line-height: 0px;
    }
    .profile-img-text .profile-img-text-2 span {
        font-size: 12px !important;
    }
    .bottomTextPost .post-image img {
        height: 350px;
    }
    .post-image {
        margin-bottom: 13px;
    }
    .bottomTextPost h5.text-post-h5 {
        font-size: 14px;
        line-height: 20px;
    }
    .post-tips {
        margin-top: 14px;
        padding-top: 14px;
    }
    .leftPost button i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px !important;
    }
    .leftPost button {
        font-size: 15px;
    }
    .rightPost button {
        font-size: 15px;
    }
    .post-a-comment .comment-box img {
        width: 40px;
        height: 40px;
    }
    .post-a-comment .input-comment {
        width: calc(100% - 40px);
    }
    .post-a-comment .input-comment input {
        height: 40px;
        padding: 14px 14px;
        font-size: 14px;
    }
    .post-a-comment .input-comment a {
        height: 35px;
        width: 35px;
        font-size: 15px;
    }
    .post-a-comment.postedComment .input-comment {
        font-size: 15px;
    }
    .post-a-comment.postedComment p:last-child {
        font-size: 12px !important;
    }
    .midBox .boxCommomn h3 {
        font-size: 16px;
    }
    ul.liveUl li h6 {
        font-size: 14px;
        max-width: 90px;
        margin-bottom: 0;
    }
    ul.liveUl li img {
        width: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    ul.liveUl li strong {
        font-size: 13px;
        min-width: 60px;
    }
    .midBox .boxCommomn .teammates img, .midBox .boxCommomn .leaders-div img {
        margin-right: auto !important;
        width: 45px !important;
        height: 45px !important;
    }
    .midBox .boxCommomn .teammates span, .midBox .boxCommomn .leaders-div span {
        font-size: 55%;
        padding-left: 10px;
        padding-right: 10px;
    }
}