  

<div class="row" style="margin-left: 0;margin-right: 0">
    <div class="col-lg-3 mainSidebar">   
        <app-scoresidebar>
        </app-scoresidebar>
    </div>    
    <div class="col-lg-9 mainCont mainContDark">   
        <div class="main-content">
            <app-header></app-header>

            <main>
                <section>
                    <div class="row">
                        <div class="col-lg-9 mainLeft">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="tab-content animate__animated animate__fadeIn" id="pills-tabContent">

                                        <div class="tab-pane" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="sports-tags extra-class row">
                                                <div [routerLink]="['/liveScore/nfl']" class="col-lg-3 {{(sportId =='nfl')?'activeSport':''}} ">
                                                    <div class="">
                                                        <div class="imgTab"> 
                                                            <img src="assets/img/nfl.png">
                                                        </div>
                                                        <span>NFL</span>
                                                    </div>
                                                </div> 
                                                <div  [routerLink]="['/liveScore/nba']" class="col-lg-3 {{(sportId =='nba')?'activeSport':''}}">
                                                    <div class="">
                                                        <div class="imgTab">
                                                            <img src="assets/img/nba.png">
                                                        </div>
                                                        <span>NBA</span>
                                                    </div>
                                                </div> 
                                                <div  [routerLink]="['/liveScore/nhl']" class="col-lg-3 {{(sportId =='nhl')?'activeSport':''}}">
                                                    <div class="">    
                                                        <div class="imgTab">
                                                            <img src="assets/img/nhl.png">
                                                        </div>
                                                        <span>NHL</span>
                                                    </div>
                                                </div>
                                                <div  [routerLink]="['/liveScore/baseball']" class="col-lg-3 {{(sportId =='baseball')?'activeSport':''}}">
                                                    <div class="">
                                                        <div class="imgTab">
                                                            <img src="assets/img/mlb.png">
                                                        </div>
                                                        <span>
                                                            Baseball
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 apiWaliRow">
                                    <div class="apiData boxCommomn">
                                        <div class="apiDataImg">
                                            <!-- <img src="assets/img/api1.png"> -->

                                            <!-- <div id="DOM_element_id_in_your_website_1638543243477"></div>
                                           
        <div id="oddspedia-widget-live-score-popular-false-sports-false-leagues-false2">
        </div> -->
                                        </div>
                                    </div>
                                    <!-- <div class="row midBox">
                                        <div class="col-lg-6">
                                            <div class="boxCommomn">
                                                <div class="teammates-div">
                                                    <h3><strong>Team Members</strong> (Active)</h3>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>
                                                     <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>
                                                     <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="App">
                                                        <span>App</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="boxCommomn">
                                                <div class="leaders-div">
                                                    <h3>Leaders</h3>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                    <div class="teammates">
                                                        <img src="assets/img/pro-1.png" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="Phil SchwartzmanSchwartzman">
                                                        <span>Phil SchwartzmanSchwartzman</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                        </div>

                   

                        <div class="col-lg-3 px-3 mainRight">
                            <div class="boxCommomn">
                                <div class="recentActivity">
                                     <h6>
                                        <b>Recent Activity  </b> 
                                    </h6>
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FClique-102385928950199&tabs=timeline&width=300&height=400&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                 
                                    <!-- <img src="assets/img/recent oactivity1.jpg"> -->
                                </div>
                            </div>
                            <div class="boxCommomn">
                                <div class="recentActivity">
                                    <!-- <h3>
                                        Recent Activity 
                                        <span>...</span>
                                    </h3> -->
                                    <!-- <img src="assets/img/recent oactivity.jpg"> -->
                                    <a class="twitter-timeline" href="https://twitter.com/Muhamma57504077?ref_src=twsrc%5Etfw">Tweets by Muhamma57504077</a> 

                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </main>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
        </div>
    </div>
    
</div>