<header class="centering">
    <div class="social-icons topBar">
        <div class="topBarUl row">
            <div class="welComeName col-lg-9">
                <div class="row">
                    <div class="col-lg-5">
                        <button class="datedropbutton" [routerLink]="['/profile']">
                            Welcome Back! <strong>{{getUserName()}}</strong>
                        </button>
                    </div>
                    <div class="col-lg-7 welComeSearch">    
                        <div class="frmGroup">
                            <!-- <i class="fas fa-search"></i>
                            <input type="text" name="search" placeholder="Search..."> -->
                        </div>
                        <button [routerLink]="['/postForm']"  class="addNew">
                            <i class="fas fa-plus"></i> 
                            <span>Add New</span>
                        </button>
                        <button *ngIf="userRoll == 'Admin' || userRoll == 'SuperAdmin'" class="notificationBell" (click)="showHideMenu()">
                            <i class="fas fa-bell"></i>
                        </button>
                        <button [routerLink]="['/groupChat']"  class="chatIco">
                            <i class="far fa-comment"></i>
                        </button>
                        <button [routerLink]="['/userSettings']" class="chatIco">
                            <i class="fas fa-user-friends"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <button class="datedropbutton" [routerLink]="['/profile']">
                    <div class="imgNot">
                        <img width="30" src="{{setUserImage()}}">
                    </div>
                    {{getUserName()}} 
                    <span class="dotsUser">...</span>
                </button>
            </div>
        </div>
    </div>
</header>

<app-right-sidebar *ngIf="isRightMenuShow"></app-right-sidebar>