<div class="firstPage" style="background-image: url(assets/img/first.jpg);height:100vh;">
	<div class="container">
	    <div class="row">
	  		<div class="col-lg-12 text-center">
	  			<div class="logoFirst">
	  				<img src="assets/img/logon.png" />
	  			</div>
	  			<div class="buttonsFirst">
		  			<button [routerLink]="['/login']" class="fButton">Login </button>
		  			<button [routerLink]="['/register']" class="fButton">Sign Up </button>
		  		</div>
	  			<div class="signUpWithUs">
	  				<p>Sign Up With</p>
	  				<button [routerLink]="['/register']"><i class="fab fa-google-plus-g"></i> Gmail</button>
	  				<button class="tw" [routerLink]="['/register']"><i class="fab fa-twitter"></i> Twitter</button>
	  				<button class="fb" [routerLink]="['/register']"><i class="fab fa-facebbok"></i> Facebook</button>
	  			</div>
	  		</div>      
	    </div>
	</div>
</div>