<div class="loginPageTn">
    <div class="row" style="height:100vh;">
        <div class="col-lg-6 leftLogin" style="background-image:url(assets/img/loginLeft.jpg);">
            <div class="left-img">
                <div class="left-box-center">
                    <div class="text-alignments">
                        <h1>Verified playing platform</h1>
                        <button [routerLink]="['/register']">Get Started </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-white rightLogin" style="background-image: url(assets/img/loginRight.png);">
            <div class="form-side">
                <img width="100px;" src="assets/img/logon.png">
                <h3>Welcome Back! Login please to Get Started</h3>
                <div class="formTn">
                    <div class="forms-input-email frmGroup">
                        <label>Enter your Email</label>
                        <input type="text" name="" placeholder="info@clique.com" [(ngModel)]="userInfo.email" maxlength="50" (keyup)="$event.keyCode == 13 && signIn()">
                    </div>

                    <div class="forms-input-password frmGroup">
                        <label>Enter your Password</label>
                        <input type="password" name="" placeholder="Password" [(ngModel)]="userInfo.password" maxlength="50" (keyup)="$event.keyCode == 13 && signIn()">
                    </div>

                    <div class="form-remember frmGroup">
                        <label for="remember-me">
                            <input id="remember-me" type="checkbox" name="" style="margin-right: 4px;">
                            <span>Remember me</span>
                        </label>

                        <a [routerLink]="['/forgotPassword']">Forgot Your Password</a>
                    </div>

                    <div class="btn-m sign-in frmGroup">
                        <button (click)="signIn()">Sign In</button>
                    </div>

                    <div class="for-hr">
                        <hr>
                        <p>OR</p>
                    </div>

                    <div class="btn-m sign-up">
                        <button [routerLink]="['/register']">Sign Up</button>
                    </div>
                    <div class="btn-m google-sign-in">
                        <button (click)="signInWithGoogle()"><i class="fab fa-google-plus-g"></i> Gmail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>