* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: #f3f2ff;
}

button:focus{
    outline: none;
}

main{
    padding: 0 !important;
}
.mainRight {
    padding-right: 0 !important;
}

div.mainRight > .boxCommomn {
    padding-right: 0;
}
.mainSidebar {
    width: 300px;
    background: #393C41;
    color: #fff;
    height: 100vh;
    padding: 50px 0px 60px 60px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    max-width: 300px;
}
.col-lg-9.mainCont {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 300px);
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
}
div.mainCont {
    padding: 50px 50px;
}
div.mainCont {
    background-image: url(src/assets/img/mainBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}



.main-content {
    position: relative;
    margin-left: 80px;
    transition: margin-left 500ms;
}

.searchwrapper {
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
    align-items: center;
}

.uhaveamessage {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: red;
    position: absolute;
    top: 10px;
}

.member {
    margin: 0px !important;
}

.social-icons span,
.social-icons .image {
    margin: 0 1.2rem;
}

.social-icons p {
    margin: 0px;
    margin-left: 1.2rem;
}

.social-icons .image {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/img/users/profile-img.png");
    border-radius: 50%;
}


/*.fa-bell:before,.fa-envelope:before ,.fa-flag:before {
    background-color: #9cbf85;
    color: #0A043C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}*/

.close-sidebar {
    text-align: center;
    color: white;
    cursor: pointer;
}

.close-sidebar li {
    text-align: center;
    color: white;
    cursor: pointer;
}

.close-sidebar label {
    margin-bottom: 0px;
}

main {
    margin-top: 70px;
    background-color: #f3f2ff;
    padding: 20px 30px;
    min-height: 100vh;
    overflow-x: hidden;
}

.whitebg {
    padding: 20px;
    border-radius: 20px;
    background: white;
}


/*Edited*/

.dropdown button {
    position: relative;
    min-width: 250px;
    width: auto;
    height: 70px;
    font-size: 18px;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color: black;
}

.dropdown ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ccc;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
}

.dropdown ul.dropdownactive2 {
    transform: perspective(1000px) rotateX(0deg);
}

.dropdown ul li {
    list-style: none;
}

.dropdown ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: #3eb3f7;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    transition: 0.5s;
}

.dropdown ul li a:hover {
    background: #1c1c32;
    border-left: 3px solid #025faa;
    border-right: 3px solid #025faa;
}

.twoicons a {
    font-size: 20px;
    color: black;
}

.reddot {
    position: relative;
}

.reddot span {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    margin: 0px;
    top: 0;
    right: -1px;
    border-radius: 100%;
}


/*Main*/

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 1rem;
    margin: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem;
    align-items: center;
}

.breadcrumb-item a {
    color: black;
}

.breadcrumb-item span {
    color: #3e83bf;
}


/*New*/

button.datedropbutton img {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin: 0px 6px;
}

.select-input {
    position: relative;
}

.select-input i {
    position: absolute;
    left: 15px;
    top: 20px;
}

.select-input input {
    padding: 15px 40px;
    border: 1px solid #f1f1ff;
    border-radius: 4px;
    width: 320px;
}

.fa-caret-down:before {
    content: "\f0d7";
    color: rgb(0 0 0 / 41%);
}

.time {
    width: auto;
    background: white;
    padding: 15px 30px;
    border-radius: 10px;
}

.time h5 {
    margin: 0;
}

.time span {
    color: #b7bcc5;
}

.heading span {
    color: #b7bcc5;
    font-weight: 200;
}

.teammates img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.teammates {
    height: 50px;
    width: 100%;
    overflow-y: auto;
}

.teammates::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.teammates-div,
.leaders-div {
    padding: 30px 0;
}

.sports-tags p {
    display: inline-block;
    padding: 10px 15px;
    background: #d5d5f7;
    margin: 4px;
    border-radius: 30px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    font-weight: 500;
}

.sports-tags p:hover {
    background: #3db3f7;
    color: white;
    transition: 0.5s all;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #3eb3f7;
    background-color: transparent;
    border-bottom: 3px solid #3eb3f7;
    border-radius: 0;
}

.nav-link {
    color: #c3c7d1;
}

.tabs-side {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d5d5f7;
}

.settings-pref ul {
    display: flex;
}


/*Post*/

.post-header {
    justify-content: center;
    border-bottom: 1px solid #80808036;
    padding: 30px 50px;
}

.profile-img-text {
    display: flex;
}

.profile-img-text-2 p {
    margin: 0;
}

.profile-img-text img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 15px;
}

.profile-img-text-2 {
    margin: auto;
}

.profile-head-button {
    margin: auto 0px;
}

.profile-head-button button {
    padding: 10px 20px;
    background: #d8f0fd;
    border: none;
    color: #3eb3f7;
    font-weight: 600;
    border-radius: 10px;
}

.post {
    background: white;
    border-radius: 20px;
}

.post-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 50px;
}

.post-image {
    padding: 40px 50px;
}

a:hover {
    color: #3eb3f7;
    text-decoration: underline;
}

.for-post-padding {
    padding: 0px 50px 50px 50px;
}

.post-tips {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.post-comments {
    justify-content: space-between;
    display: flex;
    margin: 5px 0px;
    color: #b7bcc5;
}

.post-a-comment {}

.comment-box {
    display: flex;
}

.comment-box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    margin: auto 10px;
}

.input-comment {
    margin: auto 0;
    position: relative;
    width: 100%;
}

.input-comment input {
    width: 100%;
    padding: 10px 50px 10px 10px;
    border: 1px solid #f1f2f4;
    border-radius: 13px;
}

.input-comment i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #d5d5f7;
}

.views-likes {
    display: flex;
}

.views-likes p {
    margin: 0px 10px;
    margin-bottom: 0;
}

.comments p {
    margin-bottom: 5px;
}

.icon-not i {
    padding: 17px;
    border-radius: 50px;
    border: 1px solid;
    margin: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #b7bcc5;
}

.tips p {
    margin: auto;
    color: #b7bcc5;
}

.tips {
    margin: auto 0px;
}

.icon-not img {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.team-1,
.team-2 {
    display: flex;
    justify-content: space-between;
}

.team-name p,
.team-score p {
    margin: 0;
    text-transform: uppercase;
}

.match {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 25px;
}

.col-lg-mine {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.view-all {
    width: 70%;
    margin: auto;
}

.view-all button {
    width: 100%;
    padding: 12px 12px;
    border: none;
    background: white;
    color: #3eb3f7;
    border-radius: 30px;
    transition: 0.5s all;
}

.btn-config {
    padding: 10px;
}

.view-all button:hover,
.profile-head-button button:hover {
    background: #3eb3f7;
    color: white;
    transition: 0.5s all;
}
.mainLeft{
    height: 100vh;
    overflow: auto;
    padding-bottom: 30vh
}
.mainLeft::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0);
    border-radius: 10px;
    background-color: #f5f5f500;
}
.mainLeft::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}
.mainLeft::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0);
    background-color: transparent;
}


.welComeSearch button.addNew {
    height: 42px;
    background: #fff;
    border: 1px solid rgb(77, 74, 74);
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #1DAAA6;
}

.welComeSearch button.addNew i {
    margin-right: 5px;
    position: relative;
    z-index: 1;
    transition: all .3s linear 0s;
}

.welComeSearch button.addNew:before {content: '';position: absolute;left: -100%;top: 0;width: 100%;height: 100%;background: #1DAAA6;border: 1px solid #1DAAA6;z-index: 0;transition: all .3s linear 0s;}
.welComeSearch button.addNew:hover:before {
    left: 0;
}
.welComeSearch button.addNew span {
    position: relative;
    z-index: 1;
    transition: all .3s linear 0s;
}
.welComeSearch button.addNew:hover span,.welComeSearch button.addNew:hover i {
    color: #fff;
}
.welComeSearch button.addNew:hover {
    border-color: #1DAAA6;
    background-color: #1DAAA6;
}



@media only screen and (max-width: 768px) {
    .select-input input {
        width: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .post-image {
        padding: 10px 10px;
    }
    /* .table thead th {
        min-width: 100px;
    } */
    .table thead th:nth-child(1) {
        min-width: 20px;
    }
    .table thead th:nth-child(3) {
        min-width: 130px;
    }
    .table thead th:nth-child(4) {
        min-width: 200px;
    }
    .table thead th:nth-child(5) {
        min-width: 50px;
    }
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}


/*992 to 1200*/
@media(min-width:992px ) and (max-width: 1200px){

    .welComeSearch button.addNew {
        height: 32px;
        font-size: 9px;
        padding: 6px 14px;
    }
}


@media(min-width:1201px ) and (max-width: 1440px){
    .welComeSearch button.addNew {
        height: 36px;
        font-size: 11px;
        padding: 8px 18px;
    }

}


