<div class="loginPageTn">
    <div class="row" style="height:100vh;">
        <div class="col-lg-6 leftLogin" style="background-image:url(assets/img/loginLeft.jpg);">
            <div class="left-img">
                <div class="left-box-center">
                    <div class="text-alignments">
                        <h1>Verified playing platform</h1>
                        <button [routerLink]="['/register']">Get Started </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-white rightLogin" style="background-image: url(assets/img/loginRight.png);">
            <div class="form-side">
                <img width="100px;" src="assets/img/logon.png">
                <h3>Forgot your password</h3>
                <div class="formTn">
                    <div class="forms-input-email frmGroup">
                        <label>Enter your Email</label>
                        <input type="text" name="email" placeholder="info@clique.com" [(ngModel)]="email">
                    </div>
                    
                    <div class="btn-m sign-in">
                        <button (click)="forgotPassword()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>