<div>
    <div class="row" style="height:100vh;">
        <div class="col-lg-6">
            <div class="left-img">
                <img src="assets/img/left-login.png">
                <div class="left-box-center">
                    <div class="text-alignments">
                        <h1>Verified<br>Playing<br><span>Platform</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <button [routerLink]="['/register']">Get Started </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-auto">
            <div class="row">
                <div class="col-xl-6 col-lg-10 col-sm-12">
                    <div class="form-side">
                        <img width="100px;" src="assets/img/logo-footer.png">
                        <h3>Forgot your password</h3>
                        <div class="forms-input-email">
                            <label>Enter your Email</label>
                            <input type="text" name="email" placeholder="info@clique.com" [(ngModel)]="email">
                        </div>
                        
                        <div class="btn-m sign-in">
                            <button (click)="forgotPassword()">Submit</button>
                        </div>

                        <!-- <div class="forms-input-password">
                            <label>Enter your Password</label>
                            <input type="password" name="" placeholder="********" [(ngModel)]="userInfo.password">
                        </div>

                        <div class="form-remember">
                            <input id="remember-me" type="checkbox" name="">
                            <label for="remember-me">Remember</label>

                            <a href="#">Forgot Your Password</a>
                        </div>


                        <div class="for-hr">
                            <hr>
                            <p>or</p>
                        </div>

                        <div class="btn-m sign-up">
                            <button [routerLink]="['/register']">Sign Up</button>
                        </div>

                        <div class="btn-m google-sign-in">
                            <button (click)="signInWithGoogle()"><span><img src="assets/img/google.png"></span>Sign in with google</button>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>