<div class="pdt-100 pbt-100" id="next" style="background-color: white;">
    <section class="pdt-50">
        <div class="containerTn privacy-policy-collect-information privacy-policy heading-underline">
            <h2>Lorem Ipsum</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>

    <section class="pdt-50">
        <div class="containerTn terms-of-use privacy-policy heading-underline">
            <h2>Lorem Ipsum</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <ol>
                <li>Lorem Ipsum is simply dummy text</li>
                <li>Lorem Ipsum is simply dummy text</li>
                <li>Lorem Ipsum is simply dummy text</li>
            </ol>
    
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </section>

    <section class="pdt-50">
        <div class="containerTn privacy-policy heading-underline">
            <h2>Lorem Ipsum is simply dummy text</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>

    <section class="pdt-50">
        <div class="containerTn privacy-policy heading-underline">
            <h2>Lorem Ipsum is simply dummy text</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>

    <section class="pdt-50">
        <div class="containerTn privacy-policy heading-underline">
            <h2>Lorem Ipsum is simply dummy text</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </section>
    
    <section class="pdt-50">
        <div class="containerTn privacy-policy refund-policy heading-underline">
            <h2>Lorem Ipsum is simply dummy</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <ol class="roman-list">
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
            </ol>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            
            <ol>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
            </ol>
            
            <p>Lorem Ipsum is simply dummy</p>
            
        </div>
    </section>
    
    <section class="pdt-50">
        <div class="containerTn privacy-policy heading-underline">
            <h2>Lorem Ipsum is simply dummy</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
    </section>
    
    <section class="pdt-50">
        <div class="containerTn privacy-policy heading-underline">
            <h2>Lorem Ipsum is simply dummy</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
    </section>
    
    <section class="pdt-50">
        <div class="containerTn privacy-policy privacy-policy-collect-information heading-underline">
            <h2>Lorem Ipsum is simply dummy</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <ul>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
                <li>Lorem Ipsum is simply dummy</li>
            </ul>
            
            <p>Lorem Ipsum is simply dummy</p>
        </div>
    </section>

    <section class="pdt-50">
        <div class="containerTn privacy-policy heading-underline">
            <h2>Lorem Ipsum </h2>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </section>
</div>