<input type="checkbox" id="sidebar-toggle">
<div class="sidebar" [ngClass]="{'sideMenuShrink' : showHideMenu == true}">
    <!-- <div><i class="fas fa-bars float-right" style="    font-size: 15px; margin: auto; margin-top: 30px; cursor: pointer;  color: white;   width: 100%; text-align: center;" (click)="showAndHideMenu()"></i></div> -->

    <div class="sidebar-header" style="margin-top: 50px;">
        <img class="m-auto" width="80px" src="assets/img/users/logo.png">
    </div>

    <div class="sidebar-menu">
        <ul>

            <a [routerLink]="['/dashboard']">
                <li [ngClass]="{'active2': router.url == '/dashboard'}">
                    <span><i class="fas fa-home" style="font-size: 25px;"></i></span>
                </li>
            </a>
            <a [routerLink]="['/liveScore']">
                <li>
                    <span><i class="far fa-chart-bar" style="font-size: 25px;"></i></span>
                </li>
            </a>
            <!-- <a href="#">
                <li>
                    <span><i class="fas fa-chart-line" style="font-size: 25px;"></i> </span>
                </li>
            </a> -->
            <a [routerLink]="['/groupChat']">
                <li>
                    <span><i class="fab fa-telegram-plane" style="font-size: 25px;"></i> </span>
                </li>
            </a>
            <a (click)="redirectToWeb()">
                <li>
                    <span><i class="fas fa-hand-holding-usd" style="font-size: 25px;"></i></span>
                </li>
            </a>
            <a [routerLink]="['/postList']" *ngIf="userRoll == 'Admin' || userRoll == 'SuperAdmin'">
                <li [ngClass]="{'active2': router.url == '/postList'}">
                    <span><i class="fas fa-align-left" style="font-size: 20px;"></i></span>
                </li>
            </a>
            <a [routerLink]="['/userSettings']" *ngIf="userRoll == 'SuperAdmin'">
                <li [ngClass]="{'active2': router.url == '/userSettings'}">
                    <span><i class="fas fa-users-cog" style="font-size: 25px;"></i></span>
                </li>
            </a>
            <a>
                <li class="text-center">
                    <span (click)="logout()"><i class="fas fa-sign-out-alt" style="font-size: 25px;"></i></span>
                </li>
            </a>

        </ul>
    </div>

</div>