<div class="mainPage bgWhite">
    <div class="container">
        <nav class="navbar" style="z-index: 999;">
            <div class="logo">
                <img width="180px" src="assets/img/landing/logo.png" alt="LOGO">
                <!-- <span>We provide legal solutions for you !</span> -->
            </div>
            <div class="push-left">
                <button id="menu-toggler" data-class="menu-active" class="hamburger" (click)="openHideMenu()">
                    <span class="hamburger-line hamburger-line-top"></span>
                    <span class="hamburger-line hamburger-line-middle"></span>
                    <span class="hamburger-line hamburger-line-bottom"></span>
                </button>

                <!--  Menu compatible with wp_nav_menu  -->
                <ul id="primary-menu" class="menu nav-menu">
                    <li class="menu-item mt-1"><a class="nav__link order"><button
                                [routerLink]="['login']">Login</button></a></li>
                    <li class="menu-item mt-1"><a class="nav__link order"><button [routerLink]="['register']">Join
                                Us</button></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mr-auto">
                <div class="verified-class">

                    <h1>Verified <span>Betting</span><br> knowledge</h1>
                    <p>See what your Friends, and Cappers are wagering on, right now. Or offer your service and get paid
                        for sharing your knowledge</p>
                    <div class="btn-bg">
                        <button [routerLink]="['login']">Get Started<span class="button"></span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="verified-img">
        <img src="assets/img/landing/rightBannerImg.png" style="margin-top: 100px;">
    </div>
</div>

<div class="section-1 pading80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 m-auto">
                <div class="bet-today2">
                    <img width="100%" src="assets/img/section-2.png">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 m-auto">
                <div class="bet-today">
                    <h1>Play Today & Win</h1>
                    <p>Wager together with your friends, and brilliant people all over the world. Get real-time
                        notifications when others make plays and copy their moves!</p>
                    <div class="btn-bg">
                        <button [routerLink]="['login']">Bet Now<span class="button button1"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-3 pading80" style="background: #f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="discover">
                    <h1>Discover your <br> next great investment</h1>
                    <p>Simply connect your account and let Clique do the heavy lifting. It works with most sportsbooks
                        around the world. </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-4 pading80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 m-auto">
                <div class="leaders">
                    <h1>Join Our Leaders</h1>
                    <ul class="numUl">
                        <li><strong>Get Real-time score notifications</strong>
                            Find out instantly when your friends bet</li>

                        <li><strong>No Change</strong></li>

                        <li><strong> your best wagering ideas</strong> Collaborate with the Clique Community</li>

                        <li> <strong>Follow Influencers and professionals</strong> Follow the group’s bets while the
                            games are in progress.</li>

                        <li>
                            <strong>Study trends and statistics from leagues all around the world</strong>
                            Find out who has the best win percentage and unit count
                        </li>
                    </ul>

                    <div class="btn-bg">
                        <button [routerLink]="['register']">Join Our Community<span
                                class="button button2"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 m-auto">
                <div class="leaders">
                    <img width="100%" src="assets/img/leader.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-5 padding80Bot">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="payment">
                    <h1>PAYMENT SECURITY</h1>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-sm-6 col-xs-6 mx-auto mt-4">
                        <div class="card-payment">
                            <img src="assets/img/landing/privateAccounts.png">
                            <h3>LINES & PROPs</h3>
                            <p>Consensus betting odds for every major sport. Real time play-by-play, scores, stats, and
                                updates
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-6 mx-auto mt-4">
                        <div class="card-payment">
                            <img src="assets/img/landing/privateAccounts.png">
                            <h3>Increased Activity </h3>
                            <p>There are thousands of communities forming on Clique to discuss specific players, games,
                                or trends. Instantly place a bet directly from your cliques wager alert
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-6 mx-auto mt-4">
                        <div class="card-payment">
                            <img src="assets/img/landing/privateAccounts.png">
                            <h3>Earn Rewards</h3>
                            <p>Grow your following and earn bonus’s
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<div class="section-6 padding80Bot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="payment text-center">
                    <h1>Love By Winners</h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mar-res mart-5">
                        <div class="testimonial">
                            <div class="text-testi">
                                <p>Design is an evolutionary process, and filler text is just one tool in your
                                    progress-pushing arsenal. Use it where it makes sense process.</p>
                                <i class="fab fa-fw fa-twitter"></i>
                            </div>
                            <div class="testi-profile">
                                <div class="d-flex">
                                    <img src="assets/img/pro-1.png">
                                    <div class="saying">
                                        <p>Lurch Schpellchek</p>
                                        <span>Winner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mar-res">
                        <div class="testimonial">
                            <div class="text-testi">
                                <p>Design is an evolutionary process, and filler text is just one tool in your
                                    progress-pushing arsenal. Use it where it makes sense process.</p>
                                <i class="fab fa-fw fa-twitter"></i>
                            </div>
                            <div class="testi-profile">
                                <div class="d-flex">
                                    <img src="assets/img/pro-1.png">
                                    <div class="saying">
                                        <p>Lurch Schpellchek</p>
                                        <span>Winner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mar-res mart-5">
                        <div class="testimonial">
                            <div class="text-testi">
                                <p>Design is an evolutionary process, and filler text is just one tool in your
                                    progress-pushing arsenal. Use it where it makes sense process.</p>
                                <i class="fab fa-fw fa-twitter"></i>
                            </div>
                            <div class="testi-profile">
                                <div class="d-flex">
                                    <img src="assets/img/pro-1.png">
                                    <div class="saying">
                                        <p>Lurch Schpellchek</p>
                                        <span>Winner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mar-res marl-150">
                        <div class="testimonial">
                            <div class="text-testi">
                                <p>Design is an evolutionary process, and filler text is just one tool in your
                                    progress-pushing arsenal. Use it where it makes sense process.</p>
                                <i class="fab fa-fw fa-twitter"></i>
                            </div>
                            <div class="testi-profile">
                                <div class="d-flex">
                                    <img src="assets/img/pro-1.png">
                                    <div class="saying">
                                        <p>Lurch Schpellchek</p>
                                        <span>Winner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mar-res mart-3">
                        <div class="testimonial">
                            <div class="text-testi">
                                <p>Design is an evolutionary process, and filler text is just one tool in your
                                    progress-pushing arsenal. Use it where it makes sense process.</p>
                                <i class="fab fa-fw fa-twitter"></i>
                            </div>
                            <div class="testi-profile">
                                <div class="d-flex">
                                    <img src="assets/img/pro-1.png">
                                    <div class="saying">
                                        <p>Lurch Schpellchek</p>
                                        <span>Winner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-7 bgWhite">
    <div class="container border-top">
        <div class="row py-5">
            <div class="col-lg-8 col-sm-8">
                <div class="footer-left">
                    <img src="assets/img/landing/fLogo.png">
                    <p>Clique is a social wagering application that lets users see what others are wagering on. Clique
                        users link their existing sports accounts and share their real-time plays and performance.
                        Clique s is not a sportsbook; it is a social layer that sits on top of and connects to existing
                        houses, such as Draftkings, BetRivers, and others, in order to serve its users. Clique does not
                        recommend any information. Third-party information provided on Clique, communications and
                        communications emanating from its social media community, market prices, data and other
                        information available through Clique is meant for informational purposes only and are not
                        intended as an offer or solicitation for the purchase or sale of any instrument or as an
                        official confirmation of any transaction. The information provided is not warranted as to
                        completeness or accuracy and is subject to change without notice.
                        All wagering involves risk and the past performance of a product does not guarantee future
                        results or returns.. There is always the potential of losing money when wagering and this should
                        be taken into effect before participating.
                    </p>
                    <div class="icons socialIco">
                        <span><i class="fab fa-fw fa-facebook-f"></i></span>
                        <span><i class="fab fa-fw fa-instagram"></i></span>
                        <span><i class="fab fa-fw fa-twitter"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 my-auto">
                <div class="footer-right">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a [routerLink]="['/security']">Security</a></li>
                        <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                        <li><a [routerLink]="['/termCondition']">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="below-footer">
    <div class="container-fluid">
        <div>
            <p>All rights are reserved © Copy Right <span>CLIQUE</span></p>
        </div>
    </div>
</div>