<input type="checkbox" id="sidebar-toggle">
<div class="sidebar" [ngClass]="{'sideMenuShrink' : showHideMenu == true}">

    <div class="sidebar-header" [routerLink]="['/dashboard']">
        <img class="m-auto" src="assets/img/logon.png">
    </div>

    <div class="sidebar-menu">
        <ul>
            <!-- <a   [routerLink]="['/liveScore/', sportId]"class="active2">
                <li>

                    

                    <span><img src="assets/img/{{(sportId == 'baseball')?'mlb':sportId}}.png"></span>
                    <span class="textMenu">{{(sportId)?sportId.toUpperCase():''}}  </span>
                </li>
            </a>
            <a *ngIf="fixture"   [routerLink]="['/liveScore/', sportId,'fixture']" >
                <li>
                    <span class="textMenu">Fixture & Results</span>
                </li>
            </a>
            <a *ngIf="scoreboard"  [routerLink]="['/liveScore/', sportId,'scoreboard']" >
                <li>
                    <span class="textMenu">Scoreboard</span>
                </li>
            </a>
            <a  *ngIf="matchinfo"   [routerLink]="['/liveScore/', sportId,'matchinfo']" >
                <li>
                    <span class="textMenu">Match Info</span>
                </li>
            </a>
            
            <a  *ngIf="gameleaders"  [routerLink]="['/liveScore/', sportId,'gameleaders']" >
                <li>
                    <span class="textMenu">Game Leaders</span>
                </li>
            </a>

            <a  *ngIf="playbyplay"   [routerLink]="['/liveScore/', sportId,'playbyplay']" >
                <li>
                    <span class="textMenu">Play by Play</span>
                </li>
            </a> -->
            <a >
                <li class="">
                    <span (click)="logout()">
                    	<i class="fas fa-sign-out-alt" style="font-size: 25px;"></i>
                    </span>
                    <span class="textMenu">Logout</span>
                </li>
            </a>

        </ul>
    </div>
    <div class="backToMain">
    	<a [routerLink]="['/dashboard']">< Back to Main Menu</a>
    </div>
</div>