

<div class="row" style="margin-left: 0;margin-right: 0;">
    <div class="col-lg-3 mainSidebar">   
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-lg-9 mainCont">   
        <div class="main-content">
            <app-header></app-header>

            <main>
                <section>
                    <div class="row">
                        <div class="col-lg-9 mainLeft">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="tab-content animate__animated animate__fadeIn" id="pills-tabContent" *ngIf="isShowPost">

                                        <div class="tab-pane fade" role="tabpanel" aria-labelledby="pills-home-tab" *ngIf="homeTab" [ngClass]="{'show': homeTab == true, 'active' : homeTab == true }">
                                            <div class="sports-tags extra-class row">
                                                <div [routerLink]="['/liveScore/nfl']" class="col-lg-3">
                                                    <div class="">
                                                        <div class="imgTab"> 
                                                            <img src="assets/img/nfl.png">
                                                        </div>
                                                        <span>NFL</span>
                                                    </div>
                                                </div> 
                                                <div  [routerLink]="['/liveScore/nba']" class="col-lg-3">
                                                    <div class="">
                                                        <div class="imgTab">
                                                            <img src="assets/img/nba.png">
                                                        </div>
                                                        <span>NBA</span>
                                                    </div>
                                                </div> 
                                                <div  [routerLink]="['/liveScore/nhl']" class="col-lg-3">
                                                    <div class="">    
                                                        <div class="imgTab">
                                                            <img src="assets/img/nhl.png">
                                                        </div>
                                                        <span>NHL</span>
                                                    </div>
                                                </div>
                                                <div  [routerLink]="['/liveScore/baseball']" class="col-lg-3">
                                                    <div class="">
                                                        <div class="imgTab">
                                                            <img src="assets/img/mlb.png">
                                                        </div>
                                                        <span>
                                                            Baseball
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row animate__animated animate__fadeIn PostWaliRow" *ngIf="isShowPost">
                                        <div class="col-lg-12">
                                            <div class="post my-3 boxCommomn" *ngFor="let post of postData">
                                                <div class="post-header">
                                                    <div class="profile-img-text">
                                                        <img src="{{setImageForPost(post.user_image)}}">
                                                        <div class="profile-img-text-2">
                                                            <p>{{post.first_name}} </p>
                                                            <!-- <span>{{timeDifference(post.created_at)}}</span> -->
                                                            <span style="font-size: 10px; color: gray;">{{post.created_at|
                                                                dateAgo}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-head-button">
                                                       
                                                    </div>
                                                </div>
                                                <div class="bottomTextPost">
                                                    <div class="post-image" [routerLink]="['/post/']+post.post_id" style="cursor: pointer;">
                                                        <img src="{{imageUrl}}{{post.image_url}}">
                                                    </div>
                                                    <h5 class="text-post-h5">{{post.title}}</h5>
                                                </div>

                                                <div class="for-post-padding">

                                                    <div class="post-tips">
                                                        <div class="leftPost">
                                                            <button class="btn btn-default" (click)="likePost(post.post_id)">
                                                                <i class="far fa-thumbs-up" style="font-size: 30px; color: #1fa4f1"></i>
                                                                <span class="likeCount">{{post.total_likes}}</span>
                                                            </button>
                                                            <button>
                                                                <i class="fas fa-comment"></i>
                                                                <span>{{post.comments.length}}</span>
                                                            </button>
                                                            <button >
                                                                <i class="fas fa-eye"></i>
                                                                <span>{{post.total_views}}</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="text-right rightPost">
                                                            <div class="btnShare">
                                                                <button>
                                                                    <i class="fas fa-share"></i>
                                                                </button>
                                                            </div>
                                                            <div class="sharedIcon" style="display: none;">
                                                                <button class="btn btn-default mr-3" (click)="redirectToFb(imageUrl+post.image_url)">
                                                                    <i class="fab fa-facebook-square" style="font-size: 30px; color: #1fa4f1"></i>
                                                                </button>
                                                                <button class="btn btn-default mr-3" (click)="redirectToTwitter(imageUrl+post.image_url)">
                                                                    <i class="fab fa-twitter-square" style="font-size: 30px; color: #1fa4f1"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    


                                                    <div class="post-a-comment">
                                                        <div class="comment-box">
                                                            <img src="{{setUserImage()}}">
                                                            <div class="input-comment">
                                                                <input type="text" name="" placeholder="Post a Comment" [(ngModel)]="post.comment" (keyup)="$event.keyCode == 13 && postComment(post.post_id, post.comment)">
                                                                <a (click)="postComment(post.post_id, post.comment)">
                                                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="post.comments?.length">
                                                        <span *ngFor="let comment of post.comments | slice:0:post.commentLimit; let i=index">
                                                            <div class="post-a-comment postedComment">
                                                                <div class="comment-box mt-3" style="background: aliceblue;">
                                                                    <img src="{{setImageForPost(comment.user_image)}}">
                                                                    <div class="input-comment">
                                                                        <p>
                                                                            <strong>{{comment.first_name}}:</strong> {{comment.comment}}
                                                                        </p>
                                                                        <p style="font-size: 10px; color: gray;">
                                                                            {{comment.created_at| dateAgo}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                        <div class="my-4 text-center" *ngIf="post.comments.length > 1">
                                                            <button class="btn btn-defult p-2 btn-arrows" (click)="hideComment(post)">
                                                                <i class="fas fa-chevron-up"></i>
                                                            </button>
                                                            <button class="btn btn-defult p-2 btn-arrows" (click)="viewMoreComment(post)">
                                                                <i class="fas fa-chevron-down"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center morePost" *ngIf="totalPostCount > limit"><button class="btn btn-default p-2" (click)="loadMorePost()">More Post</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 midBox">
                                    <div class="scrollClass" style="overflow-y: scroll; height: 80vh;">
                                        <div class="boxCommomn">
                                            <div class="liveScore">
                                                <h3>Live Score</h3>
                                                <ul class="liveUl">
                                                    <li> 
                                                        <h6>Carolina Hurricanes</h6>
                                                        <img src="assets/img/lsc.png">
                                                        <strong>3 - 0</strong>
                                                        <img src="assets/img/boston.png">
                                                        <h6>Boston Bruins</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- <div class="boxCommomn">
                                            <div class="teammates-div">
                                                <h3><strong>Team Members</strong> (Active)</h3>
                                                <div class="teammates" *ngFor="let mate of matesLeaderData.mates">
                                                    <img src="{{mate.user_image !='' ? imageUrl+mate.user_image : 'assets/img/defaultProfileImage.png'}}" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="{{mate.first_name}} {{mate.last_name}}">
                                                    <span>{{mate.last_name}}</span>
                                                </div>
                                            </div>
                                        </div> -->
                                        
                                      

                                        

                                        <div class="boxCommomn" *ngFor="let group of groups" >
                                            <div class="teammates-div">
                                                <h3><strong>{{group.title}} Members </strong> (Active)</h3>
                                                <div class="teammates" *ngFor="let mate of group.members">
                                                    <img src="{{mate.user_image !='' ? imageUrl+mate.user_image : 'assets/img/defaultProfileImage.png'}}" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="{{mate.first_name}} ">
                                                    <span>{{mate.last_name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                          
                                        
                                        <div class="boxCommomn">
                                            <div class="leaders-div">
                                                <h3>Group Leaders <a href="/leaders">View All</a></h3>
                                                <div class="teammates" *ngFor="let leader of matesLeaderData.leaders">
                                                    <img src="{{leader.user_image !='' ? imageUrl+leader.user_image : 'assets/img/defaultProfileImage.png'}}" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" title="{{leader.first_name}} {{leader.last_name}}">
                                                    <span>{{leader.last_name}}</span>
                                                </div>
                                            </div>
                                        </div> 

                                        



                                    </div>
                                </div>
                            </div>

                        </div>

                        

                        <div class="col-lg-3 px-3 mainRight">
                            <div class="boxCommomn">
                                <div class="recentActivity">
                                     <h6>
                                        <b>Recent Activity </b> 
                                    </h6>
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FClique-102385928950199&tabs=timeline&width=300&height=400&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                 
                                    <!-- <img src="assets/img/recent oactivity1.jpg"> -->
                                </div>
                            </div>
                            <div class="boxCommomn">
                                <div class="recentActivity">
                                    <!-- <h3>
                                        Recent Activity 
                                        <span>...</span>
                                    </h3> -->
                                    <!-- <img src="assets/img/recent oactivity.jpg"> -->
                                    <a class="twitter-timeline" href="https://twitter.com/Muhamma57504077?ref_src=twsrc%5Etfw">Tweets by Muhamma57504077</a> 

                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </main>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
        </div>
    </div>
</div>


